.card__description {
    display: flex;
    padding: 25px 20px 30px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: baseline;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
}
